BasedOnStyle: WebKit
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterStruct: true
  AfterUnion: true
  BeforeElse: true
  AfterFunction: true
Standard: Cpp03
NamespaceIndentation: Inner
IndentPPDirectives: AfterHash